<!DOCTYPE html>
<html>

<head>

    <title>Home</title>

</head>

<body>

    <div>

        <h1>Students list</h1>

        {%if Count%}

        <table id = "all-students">

            <tr>

                <th>SNo</th>
                <th>Roll Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Actions</th>

            </tr>

            {%for Student in Students%}

            <tr>

                <td>{{loop.index}}</td>
                <td><a href="/student/{{Student['student_id']}}">{{Student["roll_number"]}}</a></td>
                <td>{{Student["first_name"]}}</td>
                <td>{{Student["last_name"]}}</td>
                <td>
                <a href="/student/{{Student['student_id']}}/update" type="button">Update</a>
                <a href="/student/{{Student['student_id']}}/delete" type="button">Delete</a>
                </td>

            </tr>

            {%endfor%}

        </table>

        {%else%}

        <div>No student found. Add the students now!</div>

        {%endif%}
        
        <div style="margin-left: 120px;"><a href="/student/create">+ Add Student</a></div>

    </div>

</body>

</html>