<!DOCTYPE html>
<html

<head>
    <title>Course Data</title>
</head>

<body>

    <h1>Course Details</h1>

    <table border = "2" id = "course-details-table">

        <tr>
            <th>Average Marks</th>
            <th>Maximum Marks</th>
        </tr>

        <tr>
            <td>{{average_marks}}</td>        
            <td>{{maximum_marks}}</td>
        </tr>
        
    </table>

    <img src="../static/histogram.jpg" alt="Histogram" width="300" height="300">

    <p><a href = "/">Go Back</a></p>

</body>
